<template>
  <div>
    <b-row>
      <b-col sm="5" md="6" class="my-1">
        <b-form-group
          label="Per page"
          label-cols-sm="6"
          label-cols-md="4"
          label-cols-lg="3"
          label-align-sm="right"
          label-size="sm"
          label-for="perPageSelect"
          class="mb-0"
        >
          <b-form-select
            v-model="perPage"
            id="perPageSelect"
            size="sm"
            :options="pageOptions"
          ></b-form-select>
        </b-form-group>
      </b-col>

      <b-col sm="6" md="6" class="my-1">
        <b-form-group
          label="Search"
          label-cols-sm="3"
          label-align-sm="right"
          label-size="sm"
          label-for="filterInput"
          class="mb-0"
        >
          <b-input-group size="sm">
            <b-form-input
              v-model="filter"
              type="search"
              id="filterInput"
              placeholder="Type to Search"
            ></b-form-input>
            <!-- <b-input-group-append>
              <b-button :disabled="!filter" @click="filter = ''"
                >Clear</b-button
              >
            </b-input-group-append> -->
          </b-input-group>
        </b-form-group>
      </b-col>
    </b-row>

    <!-- Main table element -->
    <b-table
      show-empty
      striped
      stacked="md"
      responsive="sm"
      :items="posts"
      :fields="fields"
      :current-page="currentPage"
      :per-page="perPage"
      :sort-by.sync="sortBy"
      :sort-desc.sync="sortDesc"
      :filter="filter"
    >
      <template v-slot:cell(name)="row"
        >{{ row.value.first }} {{ row.value.last }}</template
      >

      <template v-slot:cell(actions)="row">
        <b-button-group>
          <b-button
            size="sm"
            @click="info(row.item, row.index, $event.target)"
            class="mr-1"
            variant="light"
          >
            <b-icon icon="pencil-square" variant="info"></b-icon>
          </b-button>
          <b-button size="sm" variant="light" @click="deletePost(row.item.id)">
            <b-icon icon="trash" variant="danger"></b-icon>
          </b-button>
        </b-button-group>
      </template>
    </b-table>

    <b-row class="d-flex justify-content-end">
      <b-col sm="4" md="4" class="my-1">
        <b-pagination
          v-model="currentPage"
          :total-rows="totalRows"
          :per-page="perPage"
          align="fill"
          size="sm"
          class="my-0"
        ></b-pagination>
      </b-col>
    </b-row>
  </div>
</template>

<script>
import { mapGetters, mapActions } from 'vuex';
export default {
  data() {
    return {
      fields: [
        { key: 'id', label: 'ID', sortable: true },
        { key: 'title', label: 'Title', sortable: true },
        { key: 'body', label: 'Body', sortable: true },
        { key: 'actions', label: 'Actions' },
      ],
      currentPage: 1,
      perPage: 5,
      pageOptions: [5, 10, 15],
      sortBy: 'id',
      sortDesc: true,
      filter: null,
    };
  },
  computed: {
    ...mapGetters({ posts: 'posts', totalRows: 'totalRows' }),
  },
  methods: {
    ...mapActions({ deletePost: 'deletePost' }),
  },
};
</script>
