<template>
  <div>
    <b-row class="mt-4">
      <b-col md="12">
        <b-button size="md" variant="light" @click="createBtn()">
          <b-icon icon="pencil" variant="info"></b-icon>
        </b-button>
      </b-col>
    </b-row>
    <b-row class="d-flex justify-content-center mt-4">
      <b-col md="6">
        <b-form @submit="onSubmit" @reset="onReset" v-if="show">
          <b-form-group id="input-group-1" label="Title:" label-for="title">
            <b-form-input
              id="title"
              v-model="form.title"
              required
              placeholder="Enter title"
            ></b-form-input>
          </b-form-group>

          <b-form-group id="input-group-2" label="Body:" label-for="body">
            <b-form-input
              id="body"
              v-model="form.body"
              required
              placeholder="Enter body"
            ></b-form-input>
          </b-form-group>
          <b-form-group class="d-flex flex-column-reverse bd-highlight">
            <b-button type="reset" variant="outline-warning mr-2"
              >Reset</b-button
            >
            <b-button type="submit" variant="info">Submit</b-button>
          </b-form-group>
        </b-form>
      </b-col>
      <b-col md="6" class="d-flex align-items-center">
        <pre v-if="show" class="mx-auto">{{ form }}</pre>
      </b-col>
    </b-row>
  </div>
</template>

<script>
import { mapGetters } from 'vuex';
export default {
  name: 'FormPost',
  data() {
    return {
      form: {
        userId: '11',
        id: '',
        title: '',
        body: '',
      },
      show: true,
    };
  },
  computed: {
    ...mapGetters(['postId']),
  },
  mounted() {
    this.form.id = this.postId
  },
  methods: {
    createBtn() {
      this.show = !this.show;
    },

    onSubmit(evt) {
      evt.preventDefault();
      this.$store.dispatch('addPost', this.form);
      this.$router.push({ path: '/' })
    },

    onReset(evt) {
      evt.preventDefault();
      // Reset our form values
      this.form.title = '';
      this.form.body = '';
      // Trick to reset/clear native browser form validation state
      this.show = false;
      this.$nextTick(() => {
        this.show = true;
      });
    },
  },
};
</script>
