<template>
  <b-container class="my-5">
    <NavBar />
    <transition name="slide-fade">
      <router-view />
    </transition>
  </b-container>
</template>

<script>
import NavBar from "./components/NavBar";
export default {
  components: {
    NavBar
  },
  mounted() {
    this.$store.dispatch('getPosts');
  }
};
</script>

<style>
.slide-fade-enter-active {
  transition: all .3s ease;
}
.slide-fade-leave-active {
  transition: all .5s cubic-bezier(1.0, 0.5, 0.8, 1.0);
}
.slide-fade-enter, .slide-fade-leave-to {
  transform: translateX(10px);
  opacity: 0;
}
</style>